{{>htmlHeader}}
{{#order}}
    <p>Dear {{name}},</p>
    <p>Thank you for your order {{order_id}}. It was shipped on {{disp_dispatched_date}} by Royal Mail {{shipping_method}}.<br>
    You can track your item <a class="button" href="https://www.royalmail.com/track-your-item#/tracking-results/{{tracking_number}}">HERE</a><br>
    We really appreciate you ordering direct from us, it helps us to keep making more music!</p>
    <p>Sincerely,<br>
    Nigel Powell, Unbelievable Truth</p>
{{/order}}
{{>htmlFooter}}