*.DS_Store
*mailout_log*
./private/mailout/api/logs
private/mailout/api/current_mailout*
private/mailout/assets/content
user_area/assets/images/*
user_area/assets/images/thumbnails/*
user_area/assets/media/*
php.ini
/private/old_mailout
assets/images/mailout_images
private/assets/media/*
./private/order_management/php/debug.log
*.htaccess
*.log
*.csv
resources/resource_dirs/artwork
resources/resource_dirs/bio_&_press_releases
resources/resource_dirs/logos
resources/resource_dirs/press_shots
resources/resource_dirs/tech_spec
resources/resource_dirs/uncompressed_audio
resources/resource_dirs/promo_videos
*error_log
*debug_log
resources/resource_dirs/new_resource
private/order_management/pdf