<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/admin.css" />
    <link rel="stylesheet" href="./styles/mailoutAdmin.css" />
    <script src="../../lib/htmx.min.js"></script>
    <script src="../../js/copyToClipboard.js"></script>
    <title>UT Mailout</title>
  </head>
  <body>
    <main>
      <h1>Unbelievable Truth - Mailout Management</h1>
      <section>
        <a href="add-download-token.html">Add Download Token</a>
      </section>
      <section>
        <button hx-get="api/reset_test_mailout.php?nigel=true" hx-target="#createMailout">Reset Test Send To Nigel</button>
        <button hx-get="api/reset_test_mailout.php" hx-target="#createMailout">Reset Test Send To All</button>
      </section>
      <section>
        <button hx-get="api/create_mailout_form.php" hx-target="#createMailout">Create New Mailout</button>
      </section>
      <section id="createMailout"></section>
      <section id="info"></section>
      <section class="selectMailout" hx-get="api/select_mailout.php" hx-trigger="load, mailoutAdded from:body, errorsDeleted from:body"></section>
    </main>
    <footer id="foot"></footer>
  </body>
</html>
