        {{#message}}<h2>{{msg}}{{/message}}
        <form id="articleForm" hx-encoding="multipart/form-data" hx-post="/private/php/add_user_area_article.php" hx-target="this">
          <input type="text" name="title" id="title" placeholder="User Area Item Title" hx-post="/private/php/article_preview.php" hx-trigger="keyup changed delay:1s" hx-target="#articlePreviewContainer" {{#content}}value="{{title}}"{{/content}} />
          <textarea id="articleBody" hx-post="/private/php/article_preview.php" hx-trigger="keyup changed delay:1s, updatePreview" hx-target="#articlePreviewContainer" name="body" id="body" cols="50" rows="20" placeholder="User Area Item Body">{{#content}}{{body}}{{/content}}</textarea><br />
          <label for="articleDate">Article Live Date <span class="small">(will go live immediately if left blank)</span>:</label>
          <input type="datetime-local" name="articleDate" id="articleDate" value="{{^content}}{{default_date}}{{/content}}{{#content}}{{added}}{{/content}}" />
          <label for="articleTab">Tab</label>
          <select name="tab" id="articleTab">
            {{#tabs}}
            <option value="{{tab_id}}"{{#selected}} selected{{/selected}}>{{tab_name}}</option>
            {{/tabs}}
          </select>
          <label for="postedBy">Article Posted By</label>
          <select name="posted_by" id="postedBy">
            {{#posters}}
            <option value="{{name}}"{{#selected}} selected{{/selected}}>{{name}}</option>
            {{/posters}}
          </select>
          <label for="draftArticle">Draft</label>
          <input type="checkbox" name="draft" id="draftArticle" {{#content}}{{#draft}}checked{{/draft}}{{/content}} />
          {{#content}}
            <input type="hidden" name="article_id" value={{article_id}} />
            <input type="submit" name="delete_article" value="Delete Article" hx-post="/private/php/add_user_area_article.php" hx-target="#articleForm" hx-confirm="Do you really want to delete this article?" />
            <input type="submit" value="Update" />
          {{/content}}
          {{^content}}
          <input type="submit" value="Add User Area Article" />
          {{/content}}
        </form>
