
<div class = "userFileUpload">
    <input type="hidden" name="MAX_FILE_SIZE" value="{{max_size}}" />
    <input type="file" name="files[]" id="file_{{id}}" />
    <input type="text" name="title[]" id="title_{{id}}" placeholder="title" />
    <textarea rows="3" cols="40" name="notes[]" id="notes_{{id}}" placeholder="notes"></textarea>
</div>