<section class="uploadProgressContainer">
    File uploading:
    <div class="uploadProgress">
        <div class="uploadProgressBar" style="--progress: {{uploadProgress}}%"><div class="uploadPercentage">{{uploadProgress}}%</div></div>
    </div>
</section>