<section class="articleContainer {{#hide}}hidden{{/hide}}" data-article-id={{article_id}}>
    <article class="articleBody">
    {{^preview}}
        <div class="shareArticle">
            <img onclick="copyToClipboard(event, '{{host}}/user_area/?show_tab={{tab}}&article_id={{article_id}}')" class="imageLink" src="assets/graphics/shareBlk.png" alt="share article icon" hx-get="" hx-swap="none" hx-push-url="{{host}}/user_area/?show_tab={{tab}}&article_id={{article_id}}"/>
        </div>
    {{/preview}}
        <div class="articleHead">
        {{^blog}}
            <div class="articleTitle">{{title}}</div>
            <div class="articleDate">{{added}}</div>
        {{/blog}}
        {{#blog}}
            <div class="articleTitle">{{title}}</div>
            <div class="articleDate">Posted {{added}} by <strong>{{posted_by}}</strong></div>
        {{/blog}}
        </div>
        <div class="articleContent">
            <p>{{{body}}}</p>
        </div>
        <div class="clearBoth"></div>
    </article>
    {{^preview}}
    <div class="commentAcc">
        {{#show_comments}}
            <section class="commentAccHead hide">
        {{/show_comments}}
        {{^show_comments}}
            <section class="commentAccHead">
        {{/show_comments}}
            <div class="commentHeadMsg">
                Show comments
            </div>
            <div class="commentHeadShow" onclick="openAcc()">
                +
            </div>
        </section>
        {{#show_comments}}
            <section class="commentAccHead">
        {{/show_comments}}
        {{^show_comments}}
            <section class="commentAccHead hide">
        {{/show_comments}}
            <div class="commentHeadMsg">
                Hide comments
            </div>
            <div class="commentHeadShow" onclick="closeAcc()">
                -
            </div>
        </section>
        {{#show_comments}}
            <section class="commentsContainer">
        {{/show_comments}}
        {{^show_comments}}
            <section class="commentsContainer collapsed">
        {{/show_comments}}
            {{>comments}}
        </section>
        <section class="commentForm collapsed" id="commentForm_{{article_id}}">
            {{>commentForm}}
        </section>
    </div>
    {{/preview}}
</section>