<section
    class="articleContainer"
    hx-get="API/getArticle.php?article_id={{article_id}}&show_comments={{show_comments}}"
    hx-trigger="intersect"
    hx-target="this"
    hx-swap="outerHTML"
    hx-indicator="#spinner-{{article_id}}">
</section>
<div id="spinner-{{article_id}}" class="spinner htmx-indicator">
    <img src="../assets/images/graphics/loading.gif" alt="loading spinner" />
</div>