<section class="articleContainer" data-article-id={{article_id}} onload="console.log(this);">
    <article class="articleBody">
        <div class="articleHead">
            <div class="articleTitle">{{title}}</div>
            <div class="articleDate">{{added}}</div>
        </div>
        <div class="articleContent">{{{body}}}</div>
    </article>
    <div class="commentAcc">
        {{#show_comments}}
            <section class="commentAccHead hide">
        {{/show_comments}}
        {{^show_comments}}
            <section class="commentAccHead">
        {{/show_comments}}
            <div class="commentHeadMsg">
                Show comments
            </div>
            <div class="commentHeadShow" onclick="openAcc()">
                +
            </div>
        </section>
        {{#show_comments}}
            <section class="commentAccHead">
        {{/show_comments}}
        {{^show_comments}}
            <section class="commentAccHead hide">
        {{/show_comments}}
            <div class="commentHeadMsg">
                Hide comments
            </div>
            <div class="commentHeadShow" onclick="closeAcc()">
                -
            </div>
        </section>
        {{#show_comments}}
            <section class="commentsContainer">
        {{/show_comments}}
        {{^show_comments}}
            <section class="commentsContainer collapsed">
        {{/show_comments}}
            {{>comments}}
        </section>
        <section class="commentForm collapsed" id="commentForm_{{article_id}}">
            {{>commentForm}}
        </section>
    </div>
</section>