<div class="audioPlayer">
    {{#title}}
        <h2>{{title}}</h2>
    {{/title}}
    {{#token}}
        {{>streamAudio}}
    {{/token}}
    {{#notes}}
        <p>{{{notes}}}</p>
    {{/notes}}
</div>