<figure class="floatCentered"><figcaption class="imgTitle">{{title}}</figcaption>
    <img src="{{path}}" alt="{{title}}" {{size_string}} style="aspect-ratio: {{aspect_ratio}}; background-image: url({{thumbpath}})" />
<figcaption class="imgNotes">{{notes}}</figcaption></figure>