<div class="{{float}}"><div class="imgTitle">{{title}}</div>
    <img src="{{path}}" alt="{{title}}" {{size_string}} style="aspect-ratio: {{aspect_ratio}}; background-image: url({{thumbpath}})" />
<div class="imgNotes">{{notes}}</div></div>