<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{host}}/email_management/styles/emailManagement.css" />
    <title>Unbelievable Truth - admin page</title>
  </head>
  <body>
    <header class="callout">
      <div class="contentwrap">unbelievable truth</div>
    </header>
    <main>
      <h1>Someone has replied to your comment in the user area of our website</h1>
      <p>
        View the reply below: <br />
        <a href="{{host}}/user_area/?show_tab={{tab_id}}&article_id={{article_id}}&show_comments=true">{{host}}/user_area/?show_tab={{tab_id}}&article_id={{article_id}}&show_comments=true</a>
      </p>
    </main>
  </body>
</html>