<div class="tabs">
    {{#tabs}}
        <input type="radio" name="tabs" id="tab_{{tab_id}}" {{#show_tab}}checked="checked"{{/show_tab}} hx-get="" hx-swap="none" hx-trigger="click" hx-push-url="{{host}}/user_area/?show_tab={{tab_id}}">
        <label for="tab_{{tab_id}}">{{tab_name}}</label>
        <div class="tab">
            {{#linked_article}}
                <button class="showAllArticles" onclick="showAllArticles(event)" data-visible-article="{{linked_article}}">Show All Articles</button>
            {{/linked_article}}
            {{#articles}}
                {{>articleLazy}}
            {{/articles}}
            {{^articles}}
                <p>No articles for {{tab_name}} yet. Check back soon, we're probably updating right now!</p>
            {{/articles}}
        </div>
    {{/tabs}}
</div>