<section class="articleContainer">
  <article class="articleBody">
    <h1>You need to log in to see this area</h1><div></div>
    <div id="userAreaLogin" hx-get="{{base_dir}}/php/loginForm.php?target=userAreaLogin" hx-trigger="load">
    </div>
  </article>
</section>