{{#articles}}
  {{>article}}
{{/articles}}
{{^articles}}
  <h2>Private area for users</h2>
        <p>No content here right now. Perhaps I'm just updating something. Check back soon!</p>
{{/articles}}