<form action="reset_password.php" method="post">
  <input type="hidden" name="selector" value="{{selector}}" />
  <input type="hidden" name="token" value="{{token}}" />
  <input type="password" name="password" id="newPassword" placeholder="Enter New Password" />
  <input type="password" name="password_conf" id="newPasswordConfirm" placeholder="Confirm New Password" />
  <input type="submit" name="reset_password" value="Reset Password" />
</form>
