<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{host}}/email_management/styles/emailManagement.css" />
    <title>Unbelievable Truth - admin page</title>
  </head>
  <body>
    <header class="callout">
      <div class="contentwrap">unbelievable truth</div>
    </header>
    <main>
      <h1>Reset Your Password</h1>
      <p>
        Click on the link to reset your user area password: <br />
        <a href="{{host}}/email_management/reset_password.php?selector={{selector}}&token={{token}}">{{host}}/email_management/reset_password.php?selector={{selector}}&token={{token}}</a>
      </p>
    </main>
  </body>
</html>