<div class="orderLine">&nbsp;</div>
<div class="orderLine itemGrid">
  <div class="itemDetail">{{name}}</div>
  <div class="itemDetail">{{amount}} @ &pound;{{price}}</div>
  <div class="itemDetail">&pound;{{item_total}}</div>
</div>
