@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  color: var(--tabColour);
  padding: var(--stdMarginSmall);
  margin: var(--stdMarginBig) 0;
}
body main section {
  padding: 0.5em;
  margin-bottom: 0.3em;
}

section:nth-child(odd) {
  background-color: var(--tabBackground);
}

section:nth-child(even) {
  background-color: var(--tabBackground);
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Inter, system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.2em;
  font-weight: 200;
  line-height: 1.2em;
  background-color: black;
  color: #ccc;
}
header {
  width: 100%;
  text-align: center;
  background-color: #baacdd;
  color: #222;
  font-weight: 600;
  font-size: 1.8em;
  padding: 0.5em;
}

main {
  background-color: #222;
  color: #eee;
  width: 82%;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(0, 0, 0, 1)) 1 50%;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

a {
  color: #c7271c;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

h2 {
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 1.2em;
  font-weight: 600;
}
p {
  margin: 1em 0;
}

.small {
  font-size: 0.7em;
}

.topImage {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topImage img {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  max-width: 100%;
}

footer {
  width: 100%;
  text-align: center;
  font-size: 1em;
  padding: 0.3em;
  border-top: 1px solid #999;
}

footer a {
  text-decoration: underline;
  color: #aaa;
}

form input {
  display: block;
  width: 31.25em;
}

form input[type='submit'] {
  width: 10em;
}

.userFileUpload,
.fileUploaded {
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid white;
}

.error {
  color: red;
}

.tag {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.uploadProgressContainer {
  padding: 5px;
  width: 25%;
  min-width: calc(100px + 8em);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.6em;
  font-family: 'Courier New', Courier, monospace;
}

.uploadProgress {
  width: 100px;
  height: 20px;
  /* border: 1px solid red; */
  background-color: white;
  display: grid;
}

.uploadProgressBar {
  height: 20px;
  width: var(--progress);
  color: #fff;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articlePreview {
  width: 100%;
  min-height: 2em;
  border: 1px solid white;
}

label {
  margin-right: var(--stdMarginSmall);
}

select {
  margin-right: var(--stdMarginMedium);
}

input[type='checkbox'] {
  display: inline-block;
  width: auto;
}

button {
  display: block;
}

.tag {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

.textPreview,
.subject {
  margin: 1em 0;
  background-color: white;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.htmlPreview {
  margin: 1em 0;
  border: 2px solid white;
}

form label {
  display: block;
  margin-top: 0.5em;
}

.resource_container {
  padding: 0.5em;
  margin-bottom: 1em;
}

.resource_container:nth-child(odd) {
  background-color: #afafcf;
}
.resource_container:nth-child(even) {
  background-color: #cfafaf;
}
