<section
    class="articleContainer"
    hx-post="API/getArticle.php"
    hx-vals='{"tab_id": {{tab_id}}, "article_id": "{{article_id}}"{{#show_comments}}, "show_comments":"{{show_comments}}"{{/show_comments}}{{#hide}}, "hide":"{{hide}}"{{/hide}}}'
    hx-trigger="revealed"
    hx-target="this"
    hx-swap="outerHTML"
    hx-indicator="#spinner-{{article_id}}">
</section>
<div id="spinner-{{article_id}}" class="spinner htmx-indicator">
    <img src="../assets/images/graphics/loading.gif" alt="loading spinner" />
</div>