<form hx-post="API/postComment.php">
    <input type="text" name="comment" placeholder="comment as {{username}}" />
    <input type="hidden" name="article_id" value="{{article_id}}" />
    {{#user_reply_id}}
        <input type="hidden" name="user_reply_id" value="{{user_reply_id}}" />
    {{/user_reply_id}}
    {{#comment_reply_id}}
        <input type="hidden" name="comment_reply_id" value = {{comment_reply_id}} />
        <input type="submit" value="Post Reply" />
    {{/comment_reply_id}}
    {{^comment_reply_id}}
        <input type="submit" value="Post Comment" />
    {{/comment_reply_id}}
</form>