        <audio
                controls
                controlsList="nodownload"
                src="./API/stream.php?track={{token}}"
                preload="metdata"
                type="audio/mpg">
                        Sadly your browser doesn't support the audio element
        </audio>