        <audio
                controls
                controlsList="nodownload"
                src="{{host}}/user_area/API/stream.php?track={{token}}"
                preload="metdata"
                type="audio/mpg">
                        Sadly your browser doesn't support the audio element
        </audio>