<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/emailManagement.css" />
    <title>Unbelievable Truth - user area email confirmation</title>
  </head>
  <body>
    <header class="callout">
      <div class="contentwrap">unbelievable truth</div>
    </header>
    <main>
      <h1>Confirm Your Email</h1>
      <p>
        Your email has been confirmed, and you are now signed in and can view the <a href = "../user_area/index.php">user area</a>.
      </p>
      <p>
        Your email has also been added to our emailing list, if you weren't on it already. We don't share your information with anyone else whatsoever, and we won't send you loads of emails. But if you want to unsubscribe there will be a one click way of doing that at the bottom of the next email we send you.
      </p>
    </main>
  </body>
</html>