<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/lib/htmx.min.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
    <title>Unbelievable Truth - Order admin</title>
  </head>
  <body>
    <h1>Unbelievable Truth online shop admin page</h1>
    >
    <main>
      <section>
        <p>SumUp Orders</p>
        <p>
          <button hx-get="./php/get_su_orders.php" hx-swap="outerHTML" hx-trigger="click">Get Orders From SumUp</button>
        </p>
      </section>
      <h1>Add Items</h1>
      <div class="inForm" hx-get="./php/new_item_form.php" hx-trigger="load"></div>
      <div id="newItemMsg" class="msg"></div>
      <h1>Add Customers</h1>
      <div class="inForm" hx-get="./php/new_customer_form.php" hx-trigger="load, clearCustomerForm from:body"></div>
      <div id="newCustomerMsg" class="msg"></div>
      <h1>Create Order</h1>
      <div class="inForm" hx-get="./php/new_order_form.php" hx-trigger="load, updateOrderForm from:body"></div>
      <div id="newOrderMsg" class="msg"></div>
      <h1>Orders</h1>
      <div class="divider">
        <form action="./php/print_labels.php" method="post" target="_blank" class="colForm">
          <label for="startLabel">Start Label</label>
          <input type="number" name="start_label" id="startLabel" max="8" min="1" value="1" />
          <label for="orderId">Print label for specific order</label>
          <input type="number" name="order_id" id="orderId" value="null" />
          <input type="submit" class="button" value="Print Labels" />
        </form>
      </div>
      <div>
        <label for="orderFilter">Filter Orders:</label>
        <select name="orderFilter" id="orderFilter" hx-post="./php/order_list.php" hx-trigger="change" hx-target="#orderList">
          <option value="all">All Orders</option>
          <option value="printed">Printed</option>
          <option value="dispatched">Dispatched</option>
          <option value="new" selected>New Orders</option>
        </select>
        <label for="nameFilter">Filter By Name:</label>
        <input type="text" name="nameFilter" id="nameFilter" hx-post="./php/order_list.php" hx-trigger="keyup changed delay:0.5s" hx-target="#orderList" />
      </div>
      <h1>Current Picking List</h1>
      <div id="pickingList" class="pickingList" hx-get="./php/picking.php" hx-trigger="load, updateOrderList from:body"></div>
      <div id="orderList" hx-get="./php/order_list.php" hx-trigger="load, updateOrderList from:body"></div>
    </main>
  </body>
</html>
