body {
  font-family: OpenSans, Inter, sans-serif;
  background: var(--stdBackground);
  color: var(--stdColour);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

main {
  width: 90%;
  background: var(--stdBackground) url('../assets/images/CroppedMedium.jpg') no-repeat fixed center top;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: underline;
  color: (--anchorColour);
}

br {
  line-height: 125%;
}

button:hover {
  cursor: pointer;
}

.topspacer {
  height: 45vh;
}

.show,
.callout {
  background-color: var(--AHlilac);
  color: var(--stdBackground);
  font-family: OpenSans, Inter sans-serif;
  text-align: center;
  position: sticky;
  position: -webkit-sticky;
  margin-bottom: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.callout {
  font-family: OpenSansBold, Inter sans-serif;
  font-weight: 700;
  font-size: clamp(1.3rem, 9vw, 4rem);
  top: 0;
  mix-blend-mode: difference;
}

.show {
  font-family: OpenSans, Inter sans-serif;
  font-size: clamp(1rem, 5vw, 2.5em);
}

.first {
  top: 0;
}

.second {
  top: 0;
}

.third {
  top: 0;
}

footer {
  /* position: sticky;
  bottom: 0;
  left: 0;
  right: 0; */
  padding: 1em;
  background-color: var(--stdBackground);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

label {
  font-family: OpenSansBold, Inter sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  margin-right: 0.5em;
}
form input {
  width: 20em;
  font-size: 1em;
  margin: 0.1em;
}

input:disabled {
  background-color: var(--alertBackground);
  color: var(--alertColour);
}

section.resetPW {
  background-color: var(--transBlack);
}

.resetPW input {
  display: block;
}

section.socials {
  margin: 0.5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#date,
#show,
#venue,
#announce,
#onsale {
  display: none;
}

.booking a {
  color: var(--footerAnchorColour);
}
