:root {
  --headerBlockColour: #ffffdcb3;
  --headerTextColour: #222;
  --listEven: #322832b3;
  --listOdd: #323228b3;
  --transBlack: #00000080;
  --commentBoxOutline: 1px solid #b1b1b1;
  --compColBrt1: #dbffed;
  --compColBrt2: #dbfffe;
  --compColBrt3: #dbdbff;
  --compColBrt4: #fedbff;
  --compColBrt5: #ffdbed;
}
