/* **** Accordion to show comments ***** */
.commentAcc {
  width: 86%;
}

.commentAccHead {
  width: 100%;
  padding: 0.3em;
  height: auto;
  background-color: var(--headerBlockColour);
  color: var(--headerTextColour);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.commentHeadShow {
  font-size: 3em;
  font-weight: bold;
}

/* ***** comoments themseleves ***** */
.commentHead {
  width: 100%;
  margin: 0.2em;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--commentBoxOutline);
}

.commentDate {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.6em;
  justify-self: flex-end;
  align-self: flex-end;
}

.commentDate::before,
.commentDate::after {
  content: '--';
}

.commentsContainer,
.commentForm {
  max-height: 5000vh;
  transition: max-height 0.8s ease-in-out;
}

.commentContainer,
.commentForm {
  width: 80%;
  border: var(--commentBoxOutline);
  padding: 1em;
  margin: 3px 0;
}

.commentContainer {
  --indent: 0;
  /* margin-left: var(--indent); */
}

.commentBody {
  font-size: 0.8em;
}

.replyContainer {
  margin-left: 2em;
}

.commentContainer:nth-of-type(odd) {
  background-color: var(--listOdd);
}

.commentContainer:nth-of-type(even) {
  background-color: var(--listEven);
}

.replyContainer:nth-child(1) {
  --indent: 2vw;
  border-left: 3px solid var(--compColBrt1);
}
.replyContainer:nth-child(2) {
  --indent: 4vw;
  border-left: 3px solid var(--compColBrt2);
}
.replyContainer:nth-child(3) {
  --indent: 6vw;
  border-left: 3px solid var(--compColBrt3);
}
.replyContainer:nth-child(n + 4) {
  --indent: 8vw;
  border-left: 3px solid var(--compColBrt4);
}

.commentForm {
  background-color: var(--transBlack);
}

.commentForm input {
  max-width: 90%;
}

.collapsed {
  border: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
}

.hide {
  display: none;
}
