a {
  cursor: pointer;
}

br.big {
  display: block;
  content: '';
  margin-top: 0.5em;
  line-height: 190%;
}

form input {
  display: block;
  max-width: 20em;
}

form input[type='submit'] {
  max-width: 10em;
}

/* adjust common elements for user area */
.callout {
  width: 100%;
  height: auto;
  margin-bottom: var(--stdMarginSmall);
  mix-blend-mode: normal;
  position: relative;
}

/* specific user area elements */
.userAreaHeader {
  padding: 0.5em 1em;
  background-color: var(--headerBlockBackground);
  color: var(--headerBlockColour);
}

.userAreaContent {
  margin-top: var(--stdMarginSmall);
}

/* articles */
.articleContainer {
  background-color: var(--articleBackground);
  margin: var(--stdMarginSmall) 0;
  padding-bottom: var(--stdMarginSmall);
  box-shadow: var(--articleShadow);
  min-height: 100vh;
}

.articleContainer.hidden {
  display: none;
}

.articleHead {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--articleBorder);
}

.articleBody {
  color: var(--tabColour);
  font-size: 0.9em;
  padding: 0 var(--stdMarginSmall);
}

.audioPlayer h2 {
  font: OpenSans;
  font-style: normal;
  font-size: 1.3em;
}

.audioPlayer p {
  font-size: 0.8em;
}

.userAreaContent article audio {
  max-width: 70vw;
}
.userAreaContent article img {
  font-style: italic;

  background-repeat: no-repeat;
  background-size: cover;
  max-width: max(70vw, 100%);
  height: auto;
}

.articleTitle {
  justify-self: start;
  font: OpenSansBold;
  font-size: 1.5em;
}

.articleDate {
  justify-self: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
}

.articleDate::before {
  content: '--';
}

.articleDate::after {
  content: '--';
}

button.showAllArticles {
  font-family: openSansBold;
  background-color: var(--articleBackground);
  border: 1px solid var(--articleBorder);
  box-shadow: var(--articleShadow);
  border-radius: 0;
  margin: var(--stdMarginSmall) 0;
}

.clearBoth {
  clear: both;
}

.spinner {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  max-width: 50px;
  max-height: 50px;
}

.htmx-indicator {
  opacity: 0;
  height: 0px;
  max-height: 0px;
  transition: height opacity max-height 1500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
  height: 50px;
  max-height: 50px;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  height: 50px;
  max-height: 50px;
}

/**
 * Tabs
 */
.tabs {
  display: flex;
  flex-wrap: wrap;
}
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: var(--tabHiddenBackground);
  color: var(--tabHiddenColour);
  font-weight: bold;
  transition: background-color color ease 0.2s;
}
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 0 var(--stdMarginSmall);
  color: var(--tabColour);
  background: var(--tabBackground);
}
.tabs input[type='radio'] {
  display: none;
}
.tabs input[type='radio']:checked + label {
  color: var(--tabColour);
  background-color: var(--tabBackground);
}
.tabs input[type='radio']:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
  .tabs .tab {
    padding: 0;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
  .articleHead {
    flex-direction: column;
  }
  .articleDate {
    align-self: flex-end;
  }
}

/* blog image floats */

figure {
  margin: 0;
}

figure.floatLeft,
figure.floatRight,
figure.floatCentered {
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background-color: var(--headerBlockBackground);
  border: 1px solid var(--commentBorder);
}

figure.floatLeft {
  float: left;
  margin-right: 1em;
  text-align: left;
}

figure.floatRight {
  float: right;
  margin-left: 1em;
  text-align: right;
}

figure.floatCentered {
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure.floatLeft,
figure.floatRight {
  display: inline-block;
}

.imgTitle {
  font-family: OpenSansBold;
}

.imgNotes {
  font-size: 0.7em;
}

.shareArticle {
  text-align: right;
}

.shareArticle img {
  aspect-ratio: 1/1;
  max-height: 28px;
}

.imageLink {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.4s;
}

.imageLink:hover {
  opacity: 1;
}

.alertMsgContainer {
  position: fixed;
  top: var(--alertOutPos);
  left: var(--stdMarginSmall);
  max-width: 15em;
  padding: 1em;
  z-index: 10;
  background-color: var(--alertMsgBackground);
  color: var(--alertMsgColour);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.alertShow {
  animation-name: showAlert;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes showAlert {
  0% {
    top: var(--alertOutPos);
    opacity: 0;
  }
  25% {
    top: var(--alertInPos);
    opacity: 1;
  }
  75% {
    top: var(--alertInPos);
    opacity: 1;
  }
  100% {
    top: var(--alertOutPos);
    opacity: 0;
  }
}

iframe {
  max-width: 97%;
  margin: auto;
}
