.callout {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  mix-blend-mode: normal;
}

.userAreaHeader {
  padding: 1em;
  background-color: rgba(255, 255, 220, 0.7);
  color: black;
}

.userAreaContent {
  margin: 0.5em;
  padding: 0.2em;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.articleContainer article {
  font-size: 0.9em;
  background: #444;
  padding: 1em;
  width: 90%;
  margin-bottom: 1em;
}

.articleContainer article h1 {
  font: OpenSansBold;
  font-size: 1.5em;
}

.userAreaContent a {
  color: #dfdfd6;
}

.audioPlayer h2 {
  font: OpenSans;
  font-style: normal;
  font-size: 1.3em;
  color: #aaa;
}

.audioPlayer p {
  font-size: 0.8em;
  color: #ccc;
}

.userAreaContent article img,
.userAreaContent article audio {
  max-width: 80%;
}

.articleDate {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
  padding: 1px;
}

.articleDate::before {
  content: '--';
}

.articleDate::after {
  content: '--';
}
