form input {
  display: block;
  max-width: 20em;
}

form input[type='submit'] {
  max-width: 10em;
}

.callout {
  width: 100%;
  height: auto;
  margin-bottom: 2em;
  mix-blend-mode: normal;
}

.userAreaHeader {
  padding: 1em;
  background-color: var(--headerBlockColour);
  color: black;
}

.userAreaContent {
  margin: 0.5em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.articleContainer {
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.articleBody {
  font-size: 0.9em;
  background: #444;
  padding: 1em;
  width: 90%;
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1fr 12em;
  align-items: end;
}

.articleContent {
  grid-column: span 2;
}
.userAreaContent a {
  color: #dfdfd6;
}

.audioPlayer h2 {
  font: OpenSans;
  font-style: normal;
  font-size: 1.3em;
  color: #aaa;
}

.audioPlayer p {
  font-size: 0.8em;
  color: #ccc;
}

.userAreaContent article img,
.userAreaContent article audio {
  max-width: 80%;
}

.articleTitle,
.articleDate {
  width: 100%;
  padding: 1px;
  align-self: end;
  border-bottom: 1px solid #999;
  margin-bottom: 3px;
}

.articleTitle {
  justify-self: start;
  font: OpenSansBold;
  font-size: 1.5em;
}

.articleDate {
  justify-self: end;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.8em;
}

.articleDate::before {
  content: '--';
}

.articleDate::after {
  content: '--';
}

.spinner {
  padding: 12px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner img {
  max-width: 50px;
  max-height: 50px;
}

.htmx-indicator {
  opacity: 0;
  height: 0px;
  max-height: 0px;
  transition: height opacity max-height 1500ms ease-in;
}
.htmx-request .htmx-indicator {
  opacity: 1;
  height: 50px;
  max-height: 50px;
}
.htmx-request.htmx-indicator {
  opacity: 1;
  height: 50px;
  max-height: 50px;
}
